body {
  background-color: lightblue;
}

main {
  width: 500px;
  height: 500px;
  background-image: url('https://previews.123rf.com/images/fukuro/fukuro1802/fukuro180200099/95903722-vector-blank-linear-ruled-notebook-page-on-transparent-background-.jpg'); 

}


h1 {
  color: navy;
  margin-left: 20px;
}
