body {
  background-color: lightblue;
}

main {
  background-color: red;
  width: 200px;
  height: 500px;
<!-- background-image: url('img_girl.jpg'); -->

}


h1 {
  color: navy;
  margin-left: 20px;
}
