body {
  background-color: lightblue;
}

main {
  background-color: white;
  width: 50%;
  height: 50%;
}

article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  width: 30%;
  height: 60%;
  padding: 10px;
}



h1 {
  color: navy;
  margin-left: 20px;
}
